actionbar {
  padding: 0;
}

.fullscreen-widget-overlay {
  background-color: black;
}

actionbar revealer {
  border-radius: 0 0 12px 12px;
}

#cards-to-review-row:not(:disabled) {
  font-weight: bold;
}
